<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>quote</key>
	<string>&quot;I&apos;d rather dig a ditch than go to a dinner party with people I don&apos;t know.&quot;</string>
	<key>author</key>
	<string>Marian Keyes</string>
</dict>
</plist>
